@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Noto Sans KR";
  color: #1c1814;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #1c1814;
}

img {
  display: block;
  width: 100%;
}

span,
strong {
  display: block;
  color: #1c1814;
}

address {
  font-style: normal;
}

h1 {
  font-size: 16px;
  font-family: "Gowun Batang";
}

h2 {
  font-size: calc(24px + 0.3vw);
  text-align: center;
  color: #fff;
  font-family: "Gowun Batang";
  text-shadow: 1px 0 8px #252525;
}

h3 {
  font-size: calc(24px + 0.5vw);
  font-family: "Noto Sans KR";
}

h4 {
  font-size: calc(18px + 0.5vw);
}

p {
  font-size: 14px;
  line-height: 1.8;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 1440px) {
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 61px;
  font-family: "Gowun Batang";
  background-color: #1c1814;
  z-index: 200;
}
@media (min-width: 1440px) {
  header {
    height: 100px;
  }
}
header .flexbox {
  position: relative;
}
@media (min-width: 1440px) {
  header .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
header .flexbox .logo-menubtn {
  height: 61px;
  display: flex;
  justify-content: space-between;
  line-height: 61px;
}
@media (min-width: 1440px) {
  header .flexbox .logo-menubtn {
    height: 100px;
    line-height: 100px;
  }
}
header .flexbox .logo-menubtn .logo {
  font-size: 16px;
  width: 100px;
}
@media (min-width: 1440px) {
  header .flexbox .logo-menubtn .logo {
    font-size: 26px;
    width: 160px;
  }
}
header .flexbox .logo-menubtn .logo a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: #fff;
}
header .flexbox .logo-menubtn .logo a img {
  width: 40px;
  height: 40px;
  filter: invert(99%) sepia(100%) saturate(15%) hue-rotate(240deg) brightness(104%) contrast(100%);
}
@media (min-width: 1440px) {
  header .flexbox .logo-menubtn .logo a img {
    width: 60px;
    height: 60px;
  }
}
header .flexbox .logo-menubtn #btn-open {
  color: #fff;
  cursor: pointer;
}
header .flexbox .logo-menubtn #btn-open:hover {
  font-weight: 600;
}
@media (min-width: 1440px) {
  header .flexbox .logo-menubtn #btn-open {
    display: none;
  }
}
header .flexbox #main-menu-mypage {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #1c1814;
  transition: all 0.4s;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage {
    position: static;
    display: block;
    right: 0;
    height: 100px;
    width: 60%;
    background-color: transparent;
  }
}
header .flexbox #main-menu-mypage #btn-close {
  width: 8.5%;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}
header .flexbox #main-menu-mypage #btn-close:hover {
  font-weight: 800;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #btn-close {
    display: none;
  }
}
header .flexbox #main-menu-mypage #menu-box {
  width: 38%;
  text-align: right;
  margin-left: auto;
  margin-right: 50px;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
  }
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .gnb {
    width: 83.8709677419%;
    display: flex;
    justify-content: space-between;
  }
}
header .flexbox #main-menu-mypage #menu-box .gnb li {
  font-size: 18px;
}
header .flexbox #main-menu-mypage #menu-box .gnb li .main-menu-a {
  font-size: 24px;
  color: #fff;
  text-align: right;
  margin-top: 15px;
  margin-bottom: 5px;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .gnb li .main-menu-a {
    font-size: 16px;
    text-align: center;
    width: 120px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 38px 0;
  }
}
header .flexbox #main-menu-mypage #menu-box .gnb li .main-menu-a:hover {
  font-weight: 800;
  color: #a79277;
}
header .flexbox #main-menu-mypage #menu-box .gnb li .submenu {
  display: none;
  text-align: right;
  margin-bottom: 10px;
  z-index: 100;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .gnb li .submenu {
    display: block;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .gnb li .submenu li {
    padding: 10px;
    background-color: #1c1814;
    opacity: 0.9;
  }
}
header .flexbox #main-menu-mypage #menu-box .gnb li .submenu li a {
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
}
header .flexbox #main-menu-mypage #menu-box .gnb li .submenu li a:hover {
  color: #a79277;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .gnb li .submenu li a {
    font-size: 15px;
  }
}
header .flexbox #main-menu-mypage #menu-box .mypage {
  position: absolute;
  right: 45%;
  bottom: 61px;
  width: 35%;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .mypage {
    position: static;
    right: 0;
    bottom: 0;
    width: 12.1290322581%;
    padding: 38px 0;
  }
}
header .flexbox #main-menu-mypage #menu-box .mypage ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .mypage ul {
    text-align: right;
  }
}
header .flexbox #main-menu-mypage #menu-box .mypage ul li {
  margin-bottom: 10px;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .mypage ul li {
    margin-bottom: 0;
  }
}
header .flexbox #main-menu-mypage #menu-box .mypage ul li a {
  color: #fff;
  font-size: 16px;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .mypage ul li a {
    font-size: 14px;
  }
}
header .flexbox #main-menu-mypage #menu-box .mypage ul li a:hover {
  text-decoration: underline;
  font-weight: 600;
}

main {
  margin-top: 60px;
}
@media (min-width: 1440px) {
  main {
    margin-top: 99px;
  }
}/*# sourceMappingURL=header.css.map */