
$color-main: #1c1814;
$color-sub1: #a79277;
$color-sub2: #4b3a23;
$color-sub3: #FFF1E0;
$color-white: #fff;

$font-main:"Noto Sans KR";
$font-sub:"Gowun Batang";

$font-size-50: 50px;
$font-size-30: 30px;
$font-size-24: 24px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-13: 13px;
$font-size-12: 12px;

$mobile-title-sub: calc(12px + 0.5vw);
$mobile-title-main: calc(24px + 0.3vw);
$mobile-title-strong: calc(12px + 0.5vw);

$desktop-title-sub: calc(30px + 0.2vw);
$desktop-title-main: calc(60px + 0.2vw);
$desktop-title-strong: calc(36px + 0.2vw);

$mobie-content-main: calc(24px + 0.5vw);
$mobie-content-sub1: calc(18px + 0.5vw);
$mobie-content-sub2: calc(16px + 0.5vw);

$desktop-content-main: calc(50px + 0.2vw);
$desktop-content-sub1: calc(30px + 0.2vw);
$desktop-content-sub2: calc(24px + 0.2vw); 

$width-wide: 100%;
$width-half: 50%;

$break-small: 360px;
$break-mediunm: 768px;
$break-large: 1440px;