@import "./mixin.scss";
@import "../../../scss/style.scss";
@import "../../../scss/reset.scss";
@import "../../../scss/mixin.scss";
@import "../../../scss/header.scss";
@import "../../../scss/footer.scss";


.container {
    //     background-color: aquamarine;
    @include grid-sys-moblie;
    
    @include responsive(large-screens) {
        @include grid-sys-desktop;
    }
}

main {

    article {
        position: relative;
        height: 250px;
        background: url(../images/reserve_main_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 35px;

        @include responsive(large-screens) {
            height: 500px;
            margin-bottom: 150px;
        }

        .main-title {
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%);

            h2 {
                font-size: $mobile-title-main;
                margin-bottom: 5px;
                color: $color-white;
    
                @include responsive(large-screens) {
                    font-size: $desktop-content-main;
                    margin-bottom: 10px;
                }
            }

            span {
                font-size: $mobile-title-sub;
                text-align: center;
                color: $color-white;
    
               // background-color: red;

                @include responsive(large-screens) {

                    font-size: $desktop-content-sub2;
                }
            }
        }
    }// article

    .reserve-info-checked {

        .container {
            padding: 0;

            @include responsive(large-screens) {
            }

            .info-input-checked {
                margin-bottom: 80px;

                @include responsive(large-screens) {

                    // margin-bottom: 66px;
                    margin-bottom: 150px;
                }

                span {
                    font-size: 10px;

                    @include responsive(large-screens) {
                        font-size: 18px;
                    }
                }

                h3 {
                    font-size: 18px;
                    margin-bottom: 15px;
    
                    @include responsive(large-screens) {
                        font-size: 30px;
                        margin-bottom: 40px;
                    }
                }

                .reserve-info-img-box {
                    display: flex;
                    justify-content: space-between;
                    height: 135px;


                    @include responsive(large-screens) {
                        // height: 210px;
                        height: 300px;
                        border-radius: 35px;
                        // background-color: #F2EDE2;
                        background-color: $color-main;
                    }

                    .reserve-info-img {
                        width: $width-half;

                        img {
                            height: 100%;
                            border-top-left-radius: 15px;
                            border-bottom-left-radius: 15px;

                            @include responsive(large-screens) {
                                border-top-left-radius: 35px;
                                border-bottom-left-radius: 35px;
                            }
                        }

                    }
                }

                .reserve-info {
                    width: $width-half;
                    padding-left: 16px;

                    @include responsive(large-screens) {
                        padding-left: 40px;
                        border-left: 1px solid #877667;  //fffffffffffffffffffffff
                    }

                    h3 {
                        font-family: $font-sub;

                        @include responsive(large-screens) {
                            font-size: 30px;
                            padding-top: 50px;
                            color: $color-white;
                        }
                    }

                    .date-per-num {
                        
                        @include responsive(large-screens) {
                            display: flex;
                            padding-bottom: 30px;
                        }
                        
                        li {
                            
                            @include responsive(large-screens) {
                                display: flex;
                                padding-right: 88px;
                                padding-top: 65px;
                            }

                            img {
                                display: none;

                                @include responsive(large-screens) {
                                    display: block;
                                    width: 50px; height: 50px;
                                    padding-right: 10px;
                                }
                            }

                            .date {
                                
                                span {
                                    font-size: 14px;
                                    font-weight: bold;
                                    
                                    @include responsive(large-screens) {
                                        font-size: 16px;
                                        color: $color-white;
                                    }
                                }

                                p {
                                    font-size: 12px;
                                    margin-bottom: 13px;

                                    @include responsive(large-screens) {
                                        font-size: 18px;
                                        color: $color-white;
                                    }
                                }
                            }
                        }
                    }
                }
            } // info-input-checked
        } // .container
    } // .reserve-info-checked

    .reserve-form-checked {

        .container {
            padding: 0;

            #reserve-info-form {

                .input-noticelist-box {

                    @include responsive(large-screens) {
                        display: flex;
                        margin: 0 120px;
                    }

                    .reserve-form {

                        ul {
                            padding: 0 10px;

                            @include responsive(large-screens) {
                                width: 460px;
                                margin-right: 140px
                            }

                            li {
                                padding-bottom: 64px;
                                
                                .form-input-box {  // 폼인풋박스 스타일 

                                    @include form-style();
                                    
                                    input {
                                        
                                        @include responsive(large-screens) {
                                            font-size: 24px;
    
                                            &:focus ~ label, 
                                            &:valid ~ label {
                                                font-size: 16px;
                                                bottom: 35px;
                                            }
                                        }
                                    }

                                    label {

                                        @include responsive(large-screens) {
                                            font-size: 24px;
                                        }
                                    }
                                } // .form-input-box 
                            }
                        }
                    } // reserve-form

                    .rule-check {

                        ul { // .rule-check-list / refund-check-list
                            margin-bottom: 48px;

                            @include responsive(large-screens) {
                                width: 580px;
                                margin-bottom: 52px;
                            }

                            li {
                                .form-check-box {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    width: $width-wide;
                                    height: 40px;  
                                    margin-top: 30px;
                                    padding: 0 15px;
                                    
                                    @include btn-style();
                                    cursor: pointer;

                                    @include responsive(large-screens) {
                                        height: 57px;
                                        margin-top: 0px;
                                    }

                                    .rule-bt-box {
                                        width: $width-wide;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;

                                        .rule-bt {
    
                                            label {
                                                width: 190px;
                                                font-size: 14px;
                                                font-weight: bold;
                                                padding-right: 10px;
                                                cursor: pointer;
            
                                                @include responsive(large-screens) {
                                                    font-size: 20px;
                                                }
                                            }
    
                                            input {
    
                                                @include responsive(large-screens) {
                                                    width: 20px;
                                                    height: 20px;
                                                }
                                            }
                                        }
                                        
                                        .rule-btn {
                                            color: $color-white;
                                            border: none;
                                            background-color: $color-main;
                                            cursor: pointer;
    
                                            @include responsive(large-screens) {
                                                font-size: 20px;
                                            }
                                        }
                                    }


                                }

                                ul { //.notice-list
                                    list-style: disc;
                                    list-style-position: inside;
                                    padding: 15px 10px 22px;
                                    background-color: #F2EDE2;

                                    display: none;

                                    li {

                                        p {
                                            display: inline;
                                            font-size: 10px;
                                        }
                                    }

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }

                                &.click {  // 클릭 이벤트를 여기에 위치시킴
                                    height: 45px; // 68px
                                    border-radius: 0;
                                    border-top-left-radius: 10px;
                                    border-top-right-radius: 10px;
                                    transition: all 0.5s;
                                    display: none;
                                }
                            }
                        } // .rule-check-list / refund-check-list 공통 부분 

                        ul.refund-check-list {
                            li {
                                ul {
                                    list-style: none;
                                    
                                    @include responsive(large-screens) {
                                        height: 216px;
                                    }

                                    p {
                                        display: block;
                                        font-size: 12px;
                                        line-height: 2;


                                        &:first-child {
                                            padding-bottom: 22px;
                                        }
                                    }
                                }                                
                            }
                        }
                    } // .rule-check 

                    div.rule-check { // form-check-box 클릭 이벤트
                        li {
                            div.form-check-box.click {  // form-check-box 클릭 이벤트 
                                height: 45px; 
                                border-radius: 0;
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                                transition: all 0.5s;
                                // display: none;

                                @include responsive(large-screens) {
                                    height: 68px;
                                }
                            }
                        }
                    } 
                } // input-noticelist-box

                .reserve-input-complete {

                    #input-complet {
                        width: $width-wide;
                        height: 40px;  
                        margin: 30px 0 90px;
                        font-size: 14px;
                        font-weight: bold;
                        border-radius: 10px;
                        color: $color-white;
                        background-color: $color-main;

                        @include responsive(large-screens) {
                            width: 1180px;
                            height: 70px;
                            font-size: 20px;
                            margin: 50px 120px 150px;
                        }

                        &:hover {
                            @include btn-hover();
                        }
                    }
                }
            } // reserve-info-form
        } // container
    } // reserve-form-checked
} // main