@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Noto Sans KR";
  color: #1c1814;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #1c1814;
}

img {
  display: block;
  width: 100%;
}

span,
strong {
  display: block;
  color: #1c1814;
}

address {
  font-style: normal;
}

h1 {
  font-size: 16px;
  font-family: "Gowun Batang";
}

h2 {
  font-size: calc(24px + 0.3vw);
  text-align: center;
  color: #fff;
  font-family: "Gowun Batang";
  text-shadow: 1px 0 8px #252525;
}

h3 {
  font-size: calc(24px + 0.5vw);
  font-family: "Noto Sans KR";
}

h4 {
  font-size: calc(18px + 0.5vw);
}

p {
  font-size: 14px;
  line-height: 1.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Noto Sans KR";
  color: #1c1814;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #1c1814;
}

img {
  display: block;
  width: 100%;
}

span,
strong {
  display: block;
  color: #1c1814;
}

address {
  font-style: normal;
}

h1 {
  font-size: 16px;
  font-family: "Gowun Batang";
}

h2 {
  font-size: calc(24px + 0.3vw);
  text-align: center;
  color: #fff;
  font-family: "Gowun Batang";
  text-shadow: 1px 0 8px #252525;
}

h3 {
  font-size: calc(24px + 0.5vw);
  font-family: "Noto Sans KR";
}

h4 {
  font-size: calc(18px + 0.5vw);
}

p {
  font-size: 14px;
  line-height: 1.8;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 1440px) {
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 61px;
  font-family: "Gowun Batang";
  background-color: #1c1814;
  z-index: 200;
}
@media (min-width: 1440px) {
  header {
    height: 100px;
  }
}
header .flexbox {
  position: relative;
}
@media (min-width: 1440px) {
  header .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
header .flexbox .logo-menubtn {
  height: 61px;
  display: flex;
  justify-content: space-between;
  line-height: 61px;
}
@media (min-width: 1440px) {
  header .flexbox .logo-menubtn {
    height: 100px;
    line-height: 100px;
  }
}
header .flexbox .logo-menubtn .logo {
  font-size: 16px;
  width: 100px;
}
@media (min-width: 1440px) {
  header .flexbox .logo-menubtn .logo {
    font-size: 26px;
    width: 160px;
  }
}
header .flexbox .logo-menubtn .logo a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: #fff;
}
header .flexbox .logo-menubtn .logo a img {
  width: 40px;
  height: 40px;
  filter: invert(99%) sepia(100%) saturate(15%) hue-rotate(240deg) brightness(104%) contrast(100%);
}
@media (min-width: 1440px) {
  header .flexbox .logo-menubtn .logo a img {
    width: 60px;
    height: 60px;
  }
}
header .flexbox .logo-menubtn #btn-open {
  color: #fff;
  cursor: pointer;
}
header .flexbox .logo-menubtn #btn-open:hover {
  font-weight: 600;
}
@media (min-width: 1440px) {
  header .flexbox .logo-menubtn #btn-open {
    display: none;
  }
}
header .flexbox #main-menu-mypage {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #1c1814;
  transition: all 0.4s;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage {
    position: static;
    display: block;
    right: 0;
    height: 100px;
    width: 60%;
    background-color: transparent;
  }
}
header .flexbox #main-menu-mypage #btn-close {
  width: 8.5%;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}
header .flexbox #main-menu-mypage #btn-close:hover {
  font-weight: 800;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #btn-close {
    display: none;
  }
}
header .flexbox #main-menu-mypage #menu-box {
  width: 38%;
  text-align: right;
  margin-left: auto;
  margin-right: 50px;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
  }
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .gnb {
    width: 83.8709677419%;
    display: flex;
    justify-content: space-between;
  }
}
header .flexbox #main-menu-mypage #menu-box .gnb li {
  font-size: 18px;
}
header .flexbox #main-menu-mypage #menu-box .gnb li .main-menu-a {
  font-size: 24px;
  color: #fff;
  text-align: right;
  margin-top: 15px;
  margin-bottom: 5px;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .gnb li .main-menu-a {
    font-size: 16px;
    text-align: center;
    width: 120px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 38px 0;
  }
}
header .flexbox #main-menu-mypage #menu-box .gnb li .main-menu-a:hover {
  font-weight: 800;
  color: #a79277;
}
header .flexbox #main-menu-mypage #menu-box .gnb li .submenu {
  display: none;
  text-align: right;
  margin-bottom: 10px;
  z-index: 100;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .gnb li .submenu {
    display: block;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .gnb li .submenu li {
    padding: 10px;
    background-color: #1c1814;
    opacity: 0.9;
  }
}
header .flexbox #main-menu-mypage #menu-box .gnb li .submenu li a {
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
}
header .flexbox #main-menu-mypage #menu-box .gnb li .submenu li a:hover {
  color: #a79277;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .gnb li .submenu li a {
    font-size: 15px;
  }
}
header .flexbox #main-menu-mypage #menu-box .mypage {
  position: absolute;
  right: 45%;
  bottom: 61px;
  width: 35%;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .mypage {
    position: static;
    right: 0;
    bottom: 0;
    width: 12.1290322581%;
    padding: 38px 0;
  }
}
header .flexbox #main-menu-mypage #menu-box .mypage ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .mypage ul {
    text-align: right;
  }
}
header .flexbox #main-menu-mypage #menu-box .mypage ul li {
  margin-bottom: 10px;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .mypage ul li {
    margin-bottom: 0;
  }
}
header .flexbox #main-menu-mypage #menu-box .mypage ul li a {
  color: #fff;
  font-size: 16px;
}
@media (min-width: 1440px) {
  header .flexbox #main-menu-mypage #menu-box .mypage ul li a {
    font-size: 14px;
  }
}
header .flexbox #main-menu-mypage #menu-box .mypage ul li a:hover {
  text-decoration: underline;
  font-weight: 600;
}

main {
  margin-top: 60px;
}
@media (min-width: 1440px) {
  main {
    margin-top: 99px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Noto Sans KR";
  color: #1c1814;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #1c1814;
}

img {
  display: block;
  width: 100%;
}

span,
strong {
  display: block;
  color: #1c1814;
}

address {
  font-style: normal;
}

h1 {
  font-size: 16px;
  font-family: "Gowun Batang";
}

h2 {
  font-size: calc(24px + 0.3vw);
  text-align: center;
  color: #fff;
  font-family: "Gowun Batang";
  text-shadow: 1px 0 8px #252525;
}

h3 {
  font-size: calc(24px + 0.5vw);
  font-family: "Noto Sans KR";
}

h4 {
  font-size: calc(18px + 0.5vw);
}

p {
  font-size: 14px;
  line-height: 1.8;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 1440px) {
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

footer {
  background-color: #1c1814;
  height: 362px;
  padding: 20px 0 31px 0;
}
@media (min-width: 1440px) {
  footer {
    height: 450px;
    padding: 27px 0px 30px 0px;
  }
}
footer .info-menu-sns {
  position: relative;
}
footer .info-menu-sns .footer-menu {
  margin-bottom: 15px;
}
footer .info-menu-sns .footer-menu .gnb {
  display: flex;
  justify-content: space-between;
  width: 86%;
  font-size: 12px;
  color: #fff;
}
@media (min-width: 768px) {
  footer .info-menu-sns .footer-menu .gnb {
    font-size: 13px;
    width: 42.5%;
  }
}
@media (min-width: 1440px) {
  footer .info-menu-sns .footer-menu .gnb {
    position: absolute;
    right: 0;
    top: 2px;
    width: 30.5%;
    font-size: 16px;
  }
}
footer .info-menu-sns .footer-menu .gnb li {
  padding-right: 10px;
  border-right: 1px solid #fff;
}
@media (min-width: 1440px) {
  footer .info-menu-sns .footer-menu .gnb li {
    padding-right: 22px;
    margin: 0;
  }
}
footer .info-menu-sns .footer-menu .gnb li:last-child {
  border-right: 0;
}
@media (min-width: 1440px) {
  footer .info-menu-sns .footer-menu .gnb li:last-child {
    padding-right: 0;
  }
}
footer .info-menu-sns .footer-menu .gnb li a {
  color: #fff;
}
footer .info-menu-sns .footer-menu .gnb li a:hover {
  text-decoration: underline;
}
footer .info-menu-sns .info {
  width: 78%;
}
@media (min-width: 1440px) {
  footer .info-menu-sns .info {
    width: 30%;
  }
}
footer .info-menu-sns .info strong {
  color: #fff;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 15px;
}
@media (min-width: 1440px) {
  footer .info-menu-sns .info strong {
    font-size: 30px;
  }
}
footer .info-menu-sns .info span {
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
}
@media (min-width: 1440px) {
  footer .info-menu-sns .info span {
    font-size: 16px;
  }
}
footer .info-menu-sns .info a {
  width: 30%;
  font-size: 14px;
  color: #fff;
}
footer .info-menu-sns .info a:hover {
  text-decoration: underline;
}
@media (min-width: 1440px) {
  footer .info-menu-sns .info a {
    font-size: 16px;
    width: 28%;
  }
}
footer .info-menu-sns .info address {
  color: #fff;
  font-size: 14px;
}
footer .info-menu-sns .sns {
  position: absolute;
  top: 31px;
  right: 0;
  text-align: right;
}
@media (min-width: 1440px) {
  footer .info-menu-sns .sns {
    top: 89px;
    right: 10px;
    text-align: right;
  }
}
footer .info-menu-sns .sns strong {
  font-size: 18px;
  margin-bottom: 7px;
  color: #fff;
}
@media (min-width: 1440px) {
  footer .info-menu-sns .sns strong {
    font-size: 30px;
  }
}
footer .info-menu-sns .sns ul {
  display: flex;
  justify-content: space-around;
  width: 140px;
}
@media (min-width: 1440px) {
  footer .info-menu-sns .sns ul {
    justify-content: space-between;
    width: 400px;
  }
}
footer .info-menu-sns .sns ul li img {
  height: 16px;
}
@media (min-width: 1440px) {
  footer .info-menu-sns .sns ul li img {
    height: 48px;
    margin-top: 5px;
  }
}
footer .info-menu-sns .sns ul li:nth-child(1) {
  width: 60px;
}
@media (min-width: 1440px) {
  footer .info-menu-sns .sns ul li:nth-child(1) {
    width: 178px;
  }
}
footer .info-menu-sns .sns ul li:nth-child(2) {
  width: 35px;
}
@media (min-width: 1440px) {
  footer .info-menu-sns .sns ul li:nth-child(2) {
    width: 110px;
  }
}
footer .info-menu-sns .sns ul li:nth-child(3) {
  width: 16px;
}
@media (min-width: 1440px) {
  footer .info-menu-sns .sns ul li:nth-child(3) {
    width: 48px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 1440px) {
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

@keyframes lt-rt-ani {
  from {
    transform: translateX(-20%); /* 화면 왼쪽 밖으로 */
    opacity: 0; /* 투명도 0 */
  }
  to {
    transform: translateX(0); /* 정중앙으로 */
    opacity: 1; /* 완전 불투명 */
  }
}
@keyframes up-dw-ani {
  from {
    transform: translateY(20%); /* 화면 왼쪽 밖으로 */
    opacity: 0; /* 투명도 0 */
  }
  to {
    transform: translateY(0); /* 정중앙으로 */
    opacity: 1; /* 완전 불투명 */
  }
}
main {
  height: 800px;
  background: url(../images/Login-Membership-page-bg.jpg);
  background-repeat: no-repeat;
}
main .login-page .container {
  padding: 0;
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help {
    display: flex;
    justify-content: space-between;
    padding-top: 158px;
  }
}
main .login-page .container .login-form-help .welcome-txt {
  animation: lt-rt-ani 1.5s ease forwards;
}
main .login-page .container .login-form-help .welcome-txt h2 {
  font-family: "Noto Sans KR";
  font-size: calc(24px + 0.3vw);
  padding-top: 53px;
  margin-bottom: 18px;
  color: #fff;
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .welcome-txt h2 {
    font-size: calc(50px + 0.2vw);
    text-align: left;
    padding-top: 0;
    margin-bottom: 82px;
  }
}
main .login-page .container .login-form-help .welcome-txt p {
  font-family: "Gowun Batang";
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .welcome-txt p {
    font-size: calc(24px + 0.2vw);
    text-align: left;
  }
}
main .login-page .container .login-form-help .login-form-box {
  height: 295px;
  background-color: #fff;
  animation: up-dw-ani 1.6s ease forwards;
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box {
    width: 940px;
    height: 485px;
    border-radius: 10px;
  }
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn {
    display: flex;
    align-items: center;
    width: 700px;
    height: 290px;
    margin: 0 auto;
    margin-top: 110px;
  }
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn h3 {
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 40px;
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn h3 {
    font-size: 0px;
  }
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box {
    width: 460px;
  }
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box {
  position: relative;
  margin: 0 auto 30px;
  font-family: "Noto Sans KR";
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box input {
  position: relative;
  width: 100%;
  font-size: 15px;
  padding-bottom: 5px;
  z-index: 5;
  border: none;
  border-bottom: 1px solid #1c1814;
  background: none;
  color: #1c1814;
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box input::-moz-placeholder {
  color: #717171;
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box input::placeholder {
  color: #717171;
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box input:focus {
  outline: none;
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box label {
  position: absolute;
  left: 0px;
  font-size: 12px;
  font-weight: bold;
  bottom: 7px;
  transition: all 0.2s;
  color: #1c1814;
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box label {
    bottom: 10px;
  }
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box span {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0%; /* right로만 바꿔주면 오 - 왼 */
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
  background-color: #717171;
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box input:focus ~ label, main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box input:valid ~ label {
  font-size: 10px;
  bottom: 25px;
  color: #717171;
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box input:focus ~ span, main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box input:valid ~ span {
  width: 100%;
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box input {
    font-size: 24px;
  }
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box input:focus ~ label, main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box input:valid ~ label {
    font-size: 16px;
    bottom: 35px;
  }
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box label {
  font-size: 16px;
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li .id-pw-input-box label {
    font-size: 24px;
  }
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li #login-btn {
  width: 100%;
  height: 45px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #1c1814;
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li #login-btn:hover {
  color: #4b3a23;
  background-color: #a79277;
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li:nth-child(2) {
    margin: 70px 0 50px;
  }
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .id-pw-box li:last-child #login-btn {
    height: 63px;
    font-size: 20px;
  }
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .help-box {
  margin-top: 95px;
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .help-box {
    margin-top: 0px;
  }
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .help-box li {
  margin: 0 10px;
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .help-box li {
    margin-bottom: 15px;
    border: 1px solid #1c1814;
    border-radius: 10px;
  }
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .help-box li .help-btn-box a {
  height: 65px;
  padding: 7px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #fff;
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .help-box li .help-btn-box a {
    width: 220px;
    height: 120px;
    text-align: center;
    background-color: #fff;
  }
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .help-box li .help-btn-box a img {
  display: none;
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .help-box li .help-btn-box a img {
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
  }
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .help-box li .help-btn-box a span {
  font-size: calc(12px + 0.5vw);
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .help-box li .help-btn-box a span {
    font-size: 10px;
  }
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .help-box li .help-btn-box a strong {
  font-size: calc(18px + 0.5vw);
}
@media (min-width: 1440px) {
  main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .help-box li .help-btn-box a strong {
    font-size: 12px;
  }
}
main .login-page .container .login-form-help .login-form-box .id-pw-login-btn .help-box li .help-btn-box a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=Login_page.css.map */